.Player-container{
    display: flex;
    flex-direction: column;
    background-color: #341773;
    align-items: center;
    justify-content: center;
    width: 110vh;
    height: 90%;
    gap: 40px;
    border-radius: 20px;
    box-shadow: 0 20px 60px #590242;
    border-right-style: ridge;
    border-left-style: groove;
    border-width: 5px;
    border-top-style: none;
    border-bottom-style: none;
    border-color: #590242;
    box-shadow: 0 10px 20px #590242;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #090426;
}
#Top-bar{
    width: 100%;
    height: 40px;
    border-width: 10px;
    border-top-style: groove;
    border-bottom-style: ridge;
    border-left-style: groove;
    border-right-style: ridge;
    border-color: #590242;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
}
#Bottom-bar{
    width: 100%;
    height: 40px;
    border-width: 10px;
    border-top-style: ridge;
    border-bottom-style: groove;
    border-left-style: ridge;
    border-right-style: groove;
    border-color: #590242;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
}
#Bottom-bar ul{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
    padding: 0;
}
#Bottom-bar li {
    padding: 6px 14px;
    border-bottom: 4px solid #590242;
    color: #C3A4F0;
    box-shadow: 0 5px 10px -10px #590242;
    transition: transform 0.7s ease, box-shadow 0.7s ease;
}
#Bottom-bar li:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px #590242;
    border-style: ridge;
    border-color: #590242;
}
#Bottom-bar a {
    color: #F27ED3;
}
#name{
    color: #C3A4F0;
    display: flex;
    align-items: center;
    gap: 20px;
}
#profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-bottom-style: groove;
}

#profile-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 5%;
    border-bottom-style: groove;
    border-top-style: groove;
    border-color: #590242;
    border-bottom-width: 5px;
    box-shadow: 0 10px 20px #590242;
}
#profile-name {
    color: #C3A4F0;
    text-align: center;
}

#profile-description {
    color: #C3A4F0;
}
#content-info{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
    padding-bottom: 3%;
    color: #EBC4EB;
}
#content-info h3{
    color: #C3A4F0;
}
#academic-column{
    flex: 1;
    border-right-style: double;
    border-right-width: 2px;
    border-right-color: #590242;
    height: auto;
}
#professional-column{
    flex: 1;
}